<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>numberlink</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href ="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <script th:src ="@{/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" href ="../static/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href ="../static/bg/animation.css"/>

<!--    <style>-->
<!--        html {-->
<!--            position: center;-->
<!--            height: 100%;-->
<!--            width: 100%;-->
<!--            background: #000 url(../anim2.gif) no-repeat right bottom;-->
<!--            color: #fff;-->
<!--        }-->
<!--    </style>-->

</head>

<body class="d-flex h-100 text-center text-white bg-dark animation">

<div class="container">
    <!--    border-bottom-->
    <div class="py-3 mb-3">
        <div class="container d-flex justify-content-around">
            <form class="col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <a href="/" class="text-decoration-none fw-bold fs-4 text-white">Number Link</a>
                <a href="/" class="text-decoration-none fw-bold fs-4 text-primary">♥</a>
            </form>
            <!--btn btn-outline-light-->
            <div class="text-end">
                <a class="btn btn-outline-light" href="#" role="button">Start Game</a>
            </div>


        </div>


    </div>
    <div class="container-fluid justify-content-center span">
        <img src="../img.jpeg" class="rounded float-end" alt="" width="27%" height="27%">
    </div>
</div>



</body>
</html>