<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    <link rel="stylesheet" href ="../static/bootstrap/dist/css/bootstrap.min.css"/>-->
<!--    <script src="../static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

    <link rel="stylesheet" href ="../static/bg/animation.css"/>

    <style>
        html {
            position: center;
            height: 100%;
            width: 100%;
            background: #000 url(../anim2.gif) no-repeat right bottom;
            color: #fff;
        }
    </style>

</head>
<body>

<!--    <p>Содержимое веб-страницы</p>-->

</body>
</html>